/* mystyle.css */

/* おまじない */
* {
  box-sizing: border-box;
  position: relative;
}

body{
  background: #FFF;
}

/*
視覚効果をつくる
  -マウスオーバー
  *タスク追加ボタン
  *タスクリスト
*/

#task_list li, #addBtn {
  cursor: pointer;
}

/*
おおまかなデザインをつくる
  -ヘッダ部 タスク追加
  -リスト部 タスクリスト
*/

.header, input, #addBtn {
  width: 100%;
  padding: 10px;
  text-align: center;
}

/* -------- Style the header -------*/
.header {
  background-color: #f44336;
  color: white;
}

/* Addボタン */
#addBtn {
  margin-top: 10px;
  background: #d9d9d9;
  color: #555;
}

/* マウスオン */
#addBtn:hover {
  background-color: #bbb;
}

/* -------- Style the list items  -------*/

ul li {
  padding: 10px;
  list-style-type: none;
  background: #eee;
}

/* しましま Task */
ul li:nth-child(odd) {
  background: #f9f9f9;
}

/* マウスオン */
ul li:hover {
  background: #ddd;
}
